/* Estilos para o contêiner do saldo total */
.value-container {
  background-color: white; /* Cor de fundo azul (você pode personalizar) */
  color: black; /* Cor do texto branco */
  padding: 20px; /* Espaçamento interno */
  border-radius: 8px; /* Cantos arredondados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra leve */
  text-align: center; /* Alinhar o conteúdo ao centro */
}

/* Estilos para o título do saldo total */
.section-title-dashboard {
  font-size: 18px; /* Tamanho da fonte do título */
  margin-bottom: 10px; /* Espaçamento inferior */
}

/* Estilos para o valor do saldo total */
.value h2 {
  font-size: 24px; /* Tamanho da fonte do valor */
  font-weight: bold; /* Texto em negrito */
}
