<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contas</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="contas.component.scss">
</head>
<body>
  <app-conta-modal></app-conta-modal>
  <div class="container">
    <app-sidebar></app-sidebar>
    <main class="main-content">
      <header class="header">
        <h1 class="app-name">Contas</h1>
      </header>
      <section class="dashboard">
        <div class="saldo-total">
          <app-saldo-total [totalBalance]="totalBalance"></app-saldo-total>
        </div>
        <div class="add-button-container">
          <button class="add-button" (click)="abrirModal()">Adicionar Conta</button>
        </div>
        <div class="contas-container">
          <ng-container *ngFor="let conta of contas">
            <app-conta
              [nome]="conta.banco.nome"
              [saldo]="conta.saldoAtual"
              [agencia]="conta.agencia"
              [numeroConta]="conta.numero">
            </app-conta>
          </ng-container>
        </div>
      </section>
    </main>
  </div>

  <!-- Modal de Cadastro de Conta -->
  <app-transaction-modal></app-transaction-modal>
</body>
</html>
