<nav class="sidebar">
  <app-transaction-modal></app-transaction-modal>

  <!-- <img src="../../../images/logo.png" alt="Logo" class="logo"> -->

  <a class="nav-item add-transaction-btn" (click)="openTransactionModal()">
    <i class="material-icons">add</i>
    <span class="icon-label"></span>
  </a>

  <a href="/home" class="nav-item">
    <i class="material-icons">home</i>
    <span class="icon-label">Home</span>
  </a>
  <a href="/contas" class="nav-item">
    <i class="material-icons">account_balance</i>
    <span class="icon-label">Contas</span>
  </a>
  <a href="/transacoes" class="nav-item">
    <i class="material-icons">attach_money</i>
    <span class="icon-label">Transações</span>
  </a>
  <a href="#planning" class="nav-item">
    <i class="material-icons">insights</i>
    <span class="icon-label">Planejamento</span>
  </a>
  <a href="#settings" class="nav-item">
    <i class="material-icons">settings</i>
    <span class="icon-label">Configurações</span>
  </a>
</nav>
